@charset "UTF-8";
body {
    background-color: #a4ce48;
}

hr {
    display: block;
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}

/*

.container {
    min-width: 424px;
}
*/

footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #51a351;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.title {
    height: 200px;
    background: url("../images/title-bg.png") no-repeat left;
}

.title-area {
    margin-right: 20px;
    margin-top: 120px;
}

.title-area li {
    display: table;
    height: 60px;
    vertical-align: bottom;
    float: left;
    list-style-type: none;
    color: #ffffff;
    padding: 5px;
}

.title-area li a, .title-area li span {
    display: table-cell;
    vertical-align: bottom;
}

.title-area li a, .title-area li a:hover, .title-area li a:visited, .title-area li a:focus {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
}

.navbar {
    background-color: #51a351;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    min-height: 42px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #62c462 0, #62c462 100%);
    background-image: -o-linear-gradient(top, #62c462 0, #62c462 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#62c462));
    background-image: linear-gradient(to bottom, #62c462, #62c462 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#62c462', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #62c462;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    background-color: #62c462;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > li > a {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    float: none;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
    /*text-shadow: 0 1px 0 #fff;*/
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #51a351;
    border-bottom-color: #51a351;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown > .dropdown-toggle .caret:hover,
.navbar .nav li.dropdown > .dropdown-toggle .caret:focus {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background-color: #62c462;
}

.dropdown-menu > li > a {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #fff;
    text-decoration: none;
    background-color: #62c462;
    background-image: -moz-linear-gradient(top, #51a351, #62c462);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#62c462));
    background-image: -webkit-linear-gradient(top, #51a351, #62c462);
    background-image: -o-linear-gradient(top, #51a351, #62c462);
    background-image: linear-gradient(to bottom, #51a351, #62c462);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#19e8f0', GradientType=0);
}

.navbar .btn-navbar {
    float: right;
    padding: 7px 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #62c462;
    background-image: -moz-linear-gradient(top, #51a351, #62c462);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#62c462));
    background-image: -webkit-linear-gradient(top, #51a351, #62c462);
    background-image: -o-linear-gradient(top, #51a351, #62c462);
    background-image: linear-gradient(to bottom, #51a351, #62c462);
    background-repeat: repeat-x;
    border-color: #387038 #51a351 #62c462;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#62c462', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    color: #fff;
    background-color: #62c462;
}

.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #51a351;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: 100;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .navbar .nav > li > .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #62c462;
        border-left: 6px solid transparent;
        content: '';
    }

}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #62c462;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #62c462;
    border: 1px solid #51a351;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #51a351;
}

.navbar-default .navbar-toggle {
    border-color: #51a351;
}

.row {
    margin: 0;
    background-color: #fff;
}

.total-money-area, .content, .balance-tip {
    background-color: #fff;
    padding: 0 20px 20px;
}

.total-money-area span, .balance-tip span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.total-money-area span img {
    width: 40px;
    height: 40px;
}

.base-info, .pet-info {
    padding: 0 5px 10px 5px;
}

.pet, .pet-info {
    display: inline-block;
    vertical-align: middle;
}

.pet-info p {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-area {
    max-width: 510px;
    min-width: 380px;
    min-height: 424px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    background: url("../images/login-bg.png") no-repeat top center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.login-form {
    margin-top: 180px;
    color: #333;
}

.login-form button {
    margin-left: 20px;
    margin-right: 20px;
}

.select-pet {
    cursor: pointer;
}

.select-pet img {
    display: block;
    clear: both;
    width: 200px;
    height: 200px;
}

.rule-tip {
    display: block;
    clear: both;
    color: #f00;
    font-size: 12px;
}

.rule-tip-lg, .error {
    display: block;
    clear: both;
    color: #f00;
    font-size: 14px;
}

.form-text {
    font-size: 14px;
    padding-top: 7px;
}

.goods-area {
    border: 1px solid #51a351;
    width: 222px;
    height: 350px;
    margin: 0 auto 20px auto;
}

.goods-area img {
    display: block;
    width: 220px;
    height: 220px;
    clear: both;
}

.goods-name {
    width: 220px;
    height: 36px;
    padding: 4px;
    line-height: 16px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
}

.goods-price {
    padding: 4px;
    color: #51a351;
}

.goods-price span {
    display: inline-block;
    vertical-align: middle;
}

.goods-price .tip {
    font-size: 12px;
}

.goods-price .main {
    font-size: 24px;
    font-weight: bold;
}

.goods-btn {
    padding: 4px;
}
